*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #698474;
    min-height: 100vh;
}
.judul{
    font-family: 'Permanent Marker', cursive; 
    color: #ffd3b6;
    margin-top: 30px;
    margin-bottom: 30px;
}
header, form{
    min-height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
form input, form button{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    background: white;
    font-family: 'Architects Daughter', cursive;
}
form button{
    background-color: #ffd3b6;
   color: #50595c;
   cursor: pointer;
   transition: all 0.3s ease;
}
form button:hover{
    background-color: #50595c;
    color: #ffd3b6;
}

.shopping-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shopping-list{
    min-width: 30%;
    list-style: none;
}
.shopping{
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}
.shopping li{
    flex: 1;
}

.trash-btn, .complete-btn {
    background-color:#ff6e46;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}
 .complete-btn{
     background-color: rgb(116, 206, 116);
}
.trash-btn:hover{
    background-color: white;
    color: #ff6e46; 
}
.complete-btn:hover{
    background-color: white;
    color: rgb(116, 206, 116);
}
.shopping-item {
    padding: 0rem 0.5rem;
}

.fa-trash, fa-check {
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;

}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #323f37;
    color: #ffd3b6;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: large;
  }
  
.shopping-item{
    font-family: 'Architects Daughter', cursive;
}